<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_Mobile_BabyCare"
        tools:targetApi="31">
        <activity
            android:name=".Milestone_info_walk"
            android:exported="false" />
        <activity
            android:name=".Milestone_info_knowledge"
            android:exported="false" />
        <activity
            android:name=".Milestone_info_tooth"
            android:exported="false" />
        <activity
            android:name=".Milestone_info_stand"
            android:exported="false" />
        <activity
            android:name=".Milestone_info_crawl"
            android:exported="false" />
        <activity
            android:name=".Milestone_info_sit"
            android:exported="false" />
        <activity
            android:name=".Milestone_info_scroll"
            android:exported="false" />
        <activity
            android:name=".Milestone_info_sound"
            android:exported="false" />
        <activity
            android:name=".Milestone_info_head"

            android:exported="false" />
        <activity
            android:name=".Weight_and_Height_Input"
            android:exported="false" />
        <activity
            android:name=".MemoryAlbumEdit"
            android:exported="false" />
        <activity
            android:name=".BabyMilestone"
            android:exported="false" />
        <activity android:name=".BabyMemoryView" />
        <activity
            android:name=".MemoryAlbumAdd"
            android:exported="false" />
        <activity
            android:name=".BabyInjecActivity"
            android:exported="false" />
        <activity
            android:name=".MedicalHistoryView"
            android:exported="false" />
        <activity
            android:name=".BabyNutritionWeight"
            android:exported="false" />
        <activity
            android:name=".BabyNutritionAge"
            android:exported="false" />
        <activity
            android:name=".BabyInfo"
            android:exported="false" />
        <activity
            android:name=".MedicalHistoryInput"
            android:exported="false" />
        <activity
            android:name=".HeightWeightActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".HeightWeightWhoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>